<script id="autoCompleteTemplate" type="text/x-handlebars-template">
    <div class="CGPEasyAutoComplete">
        <div class="row">
            <div class="col-md-7">
                <input aria-lable="{{controllerName}} autocomplete field" class="AutoCompleteInput" type="text" data-autocomplete="{{controllerName}}" />
            </div>
            <div class="col-md-4">
                <button aria-lable="{{controllerName}} autocomplete submit button" class="btn btn-success AutoCompleteSubmit" type="button" data-autocompletesubmit="{{controllerName}}">Search</button>
            </div>
        </div>
    </div>
</script>